@model kpiTest.Models.kpi_Perfomance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>kpi_Perfomance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KPM_Event)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPM_Event)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPM_FPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPM_FPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPM_SPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPM_SPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kpi_Year.KPY_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kpi_Year.KPY_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KPM_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
